<div [formGroup]="deceasedForm">
   <div class="form__grid form__bellow-block">
      <div class="form__grid-block" formArrayName="decsArray" *ngFor="let dec of decs.controls; let i=index"
         class="form__right" style="margin: 1rem;">
         <div [formGroupName]="i">
            <h3>Date defunct</h3>
            <hr>
            <div class="form-container">
               <div class="form-container__row">
                  <div class="form-group">
                     <label for="d_fname">Nume Prenume</label>
                     <input type="text" placeholder="Nume Prenume" name="d_fname" id="d_fname"
                        formControlName="d_fname">
                  </div>
                  <div class="form-group" style="flex-grow:0;">
                     <label for="">&nbsp;</label>
                     <input type="button" class="btn btn-remove" name="remove" id="remove" value="x"
                        (click)="onDelete(i)">
                  </div>
               </div>
               <div class="form-container__row">
                  <div class="form-group">
                     <label for="bdate">Data Nașterii</label>
                     <input type="date" name="bdate" id="bdate" formControlName="bdate">
                  </div>
                  <div class="form-group">
                     <label for="ddate">Data Decesului</label>
                     <input type="date" name="ddate" id="ddate" formControlName="ddate">
                  </div>
               </div>
               <div class="form-container__row">
                  <div class="form-group">
                     <label for="cemetery">Cimitir</label>
                     <input type="text" placeholder="Numele Cimitirului" name="cemetery" id="cemetery"
                        formControlName="cemetery">
                  </div>
               </div>
               <div class="form-container__row">
                  <div class="form-group">
                     <label for="cemetery_city">Localitatea</label>
                     <input type="text" placeholder="Localitatea Cimitirului" name="cemetery_city" id="cemetery_city"
                        formControlName="cemetery_city">
                  </div>
                  <div class="form-group">
                     <label for="cemetery_country">Tara</label>
                     <input type="text" name="cemetery_country" id="cemetery_country"
                        formControlName="cemetery_country">
                  </div>
               </div>
               <div class="form-container__row">
                  <div class="form-group">
                     <label for="epitaf-{{i}}">Epitaf</label>
                     <textarea name="epitaf-{{i}}" id="epitaf-{{i}}" cols="30" rows="4"
                        formControlName="epitaf"></textarea>
                  </div>
               </div>

            </div>
         </div>
      </div>
   </div>

   <input type="button" value="Adaugă Defunct" class="btn btn-secondary" (click)="onAddDeceased()">
</div>