<ng-container *ngIf="loaded">


   <div class="container" *ngIf="isAuthenticated">
      <header class="header">
         <h2 class="header__logo">
            <a routerLink="/orders/orders-list" style="text-decoration: none;">Monumente Premium</a>
         </h2>
         <nav class="header__nav">
            <ul class="header__nav--left">
               <p style="font-size:0.8rem;">Logged as: {{email}}</p>
               <p style="font-size: 0.8rem;">&emsp; &emsp; &nbsp; Role: {{role}}</p>
            </ul>
            <ul class="header__nav--right">
               <li><a (click)="onLogout()" style="cursor: pointer">Logout</a></li>
               <li><a routerLink="/auth/users-list">Settings</a></li>
            </ul>
         </nav>
      </header>
      <div class="sidebar">
         <h2 class="sidebar__heading">{{menu.name}}</h2>
         <ul class="sidebar__nav">
            <li class="sidebar__nav-item" *ngFor="let item of menu.items">
               <a routerLinkActive="activeLink" [routerLink]="item.routerLink" class="sidebar__nav-item--link">
                  <i class="fas fa-arrow-right"></i>
                  <span class="sidebar__nav-item--link--text">{{item.name}}</span>
               </a>
         </ul>
      </div>
      <div class="main">
         <router-outlet></router-outlet>
      </div>
   </div>
   <router-outlet *ngIf="!isAuthenticated"></router-outlet>
</ng-container>