<div class="container">
   <header class="header">
      <h2 class="header__logo">
         <a routerLink="/orders/orders-list" style="text-decoration: none;">Monumente Premium</a>
      </h2>
      <nav class="header__nav">
         <ul class="header__nav--left">

         </ul>
         <ul class="header__nav--right">
            <li><a (click)="onLogout()" style="cursor: pointer">Logout</a></li>
            <li><a href="#">Settings</a></li>
         </ul>
      </nav>
   </header>
   <div class="sidebar">
      <h2 class="sidebar__heading">Menu</h2>
      <ul class="sidebar__nav">
         <li class="sidebar__nav-item">
            <a routerLinkActive="activeLink" routerLink="/dashboard" class="sidebar__nav-item--link">
               <i class="fas fa-arrow-right"></i>
               <span class="sidebar__nav-item--link--text">Dashboard</span>
            </a>
         </li>
         <li class="sidebar__nav-item">
            <a routerLinkActive="activeLink" routerLink="/orders/orders-list" class="sidebar__nav-item--link">
               <i class="fas fa-arrow-right"></i>
               <span class="sidebar__nav-item--link--text">Comenzi</span>
            </a>
         </li>
         <li class="sidebar__nav-item">
            <a routerLinkActive="activeLink" routerLink="orders/add-order" class="sidebar__nav-item--link">
               <i class="fas fa-arrow-right"></i>
               <span class="sidebar__nav-item--link--text">Adauga Comanda</span>
            </a>
         </li>
      </ul>
   </div>
   <div class="main">
      <router-outlet></router-outlet>
   </div>
</div>