<div [formGroup]="this.controlContainer.control">
   <div formGroupName="summaryForm">
      <br>
      <h3>Sumar</h3>
      <hr>
      <div class="form-container">
         <div class="form-container__column">
            <div class="form-container">
               <div class="form-group">
                  <label for="today_date">Data intocmirii</label>
                  <input type="date" id="today_date" name="today_date" formControlName="today_date" required>
               </div>
               <div class="form-group">
                  <label for="due_date">Data Limita</label>
                  <input type="date" id="due_date" name="due_date" formControlName="due_date" required>
               </div>
            </div>
            <div class="form-container" formArrayName="avansArray" *ngFor="let avans of avansuri.controls; let i=index">
               <ng-container [formGroupName]="i">
                  <div class="form-group">
                     <label for="avans">Avans</label>
                     <input type="number" placeholder="0 RON" id="avans" name="avans" formControlName="avans" required>
                  </div>
                  <div class="form-group">
                     <label for="due-date">Data avansului</label>
                     <input type="date" placeholder="Data" id="due-date" name="due-date" formControlName="avans_date"
                        required>
                  </div>
                  <div style="margin-right: 5px;">
                     <label for="remove">&nbsp;</label>
                     <input type="button" class="btn btn-remove" name="remove" id="remove" value="x"
                        (click)="onDeleteAvans(i)">
                  </div>
               </ng-container>

            </div>
            <div class="form-group form-buttons">
               <input type="button" value="Adaugă Avans" class="btn btn-secondary" (click)="onAddAvans()">
            </div>
         </div>

         <div class="form-container__column">
            <div class="form-group">
               <label for="obsc">Observații comandă</label>
               <textarea name="Observatii comanda" id="obsc" formControlName="obsc"
                  style="display:block; height: 6.6rem;"></textarea>
            </div>
            <div class="form-group">
               <label for="total">Suma Rămasă</label>
               <input type="number" placeholder="0 RON" id="total" name="total" formControlName="left_amount" required
                  disabled>
            </div>
            <div class="form-group">
               <label for="total">Suma Totala</label>
               <input type="number" placeholder="0 RON" id="total" name="total" formControlName="total" required>
            </div>
         </div>
      </div>
   </div>
</div>