<div class="form__bellow-block">
   <h3>Detalii comandă</h3>
   <hr>
   <div [formGroup]="elemsForm">
      <div class="form-group__article" formArrayName="elemsArray"
         *ngFor="let element of elements.controls; let i=index">
         <div class="form-group__components" [formGroupName]="i">
            <div class="form-group__components-row">
               <div class="form-group__component">
                  <label for="article">Articol</label>
                  <select name="article" id="article" formControlName="article">
                     <option value="" disabled>Alege Component</option>
                     <option *ngFor="let comp of components" [ngValue]="comp">{{ comp }}</option>
                  </select>
               </div>
               <div class="form-group__component form-group__component-desc">
                  <label for="desc">Descriere</label>
                  <input type="text" name="desc" id="desc" placeholder="Comentariu..." formControlName="desc">
               </div>
               <div class="form-group__component">
                  <label for="quantity">Cantitate</label>
                  <input type="number" name="quantity" id="quantity" placeholder="0.00" formControlName="quantity">
               </div>
               <!-- <div class="form-group__component">
                  <label for="colour">Culoare</label>
                  <select name="colour" id="colour" formControlName="colour">
                     <option value="Negru">Negru</option>
                     <option value="Rosu">Rosu</option>
                     <option value="Gri">Gri</option>
                     <option value="Verde">Verde</option>
                  </select>
               </div> -->
               <!-- <div class="form-group__component">
                  <label for="length">Lungime</label>
                  <input type="number" name="length" id="length" value="0" formControlName="length">
               </div>
               <div class="form-group__component">
                  <label for="width">Lățime</label>
                  <input type="number" name="width" id="width" value="0" formControlName="width">
               </div>
               <div class="form-group__component">
                  <label for="thickness">Grosime</label>
                  <input type="number" name="thickness" id="thickness" value="0" formControlName="thickness">
               </div>
               <div class="form-group__component">
                  <label for="expense">Cheltuiala</label>
                  <input type="number" name="expense" id="expense" value="0" formControlName="expense">
               </div> -->
               <div class="form-group__component">
                  <label for="uni_price">Pret Unitar (Lei)</label>
                  <input type="number" name="uni_price" id="uni_price" formControlName="uni_price">
               </div>
               <div class="form-group__component">
                  <label for="price">Pret (Lei)</label>
                  <input type="number" name="price" id="price" formControlName="price" disabled>
               </div>
            </div>
         </div>
         <div class="form-group__article-btn">
            <label for="remove">&nbsp;</label>
            <input type="button" class="btn btn-remove" name="remove" id="remove" value="x" (click)="onDelete(i)">
         </div>
      </div>
   </div>
</div>
<input type="button" value="Adaugă Articol" (click)="onAddArticle()" class="btn btn-secondary">