<div class="main__add">
   <h2 class="page-title-h2">Adaugă Comandă</h2>


   <form [formGroup]="orderForm" (ngSubmit)="onSubmit()" class="form">

      <div class="form__grid">


         <app-client-details (customerFormEvent)="onAddCustomerForm($event)"></app-client-details>

         <app-deceased-details (deceasedFormEvent)="onAddDeceasedForm($event)"></app-deceased-details>


         <div class="form__below">

            <app-article [editOrder]="editOrder" (elemsFormEvent)="onAddElemsForm($event)"></app-article>



            <app-summary (summaryFormEvent)="onAddSummaryForm($event)" [editOrder]="editOrder"></app-summary>

            <app-progress (progressFormEvent)="onAddProgressForm($event)"></app-progress>


            <div class="form-group form-buttons">
               <input type="submit" class="btn btn-primary" value="{{editMode ? 'Actualizează' : 'Adaugă'}}">
               <input type="button" class="btn btn-secondary" value="Printează">
            </div>

         </div>
      </div>
   </form>
</div>