<div class="form__bellow-block" [formGroup]="progressForm">
   <h3>Componente Comanda:</h3>
   <hr>

   <div class="form-group__components" style="flex-direction: row;" formGroupName="piatra">
      <label for="piatra" class="form-group__components_heading"><b>Piatra</b></label>
      <div class="form-group__component">
         <label for="piatra_obs">Observații</label>
         <textarea name="piatra_obs" id="piatra_obs" rows="8" cols="40" formControlName="obsv"></textarea>
      </div>
      <div class="form-group__component">
         <label for="piatra_poze">Imagini</label>
         <input type="file" style="width: 8rem;" onclick="value = null" multiple (input)="onAddImages($event)"
            name="piatra_poze" id='piatra_poze'>
      </div>
      <div class="form-group__components" style="flex-basis: auto; flex-direction: row;" id='piatra_poze' #piatra_poze>
         <div formArrayName="poze" *ngFor="let img of progressForm.get('piatra.poze').controls; let i = index">
            <div [formGroupName]="i">
               <input type="hidden" formControlName="downloadUrl">
               <img src="{{img.get('downloadUrl').value }}" height=" 143px" style="padding-right: 0.5rem;">
               <input type="button" class="btn btn-remove" style="padding: 0; height: auto;" name="remove" id="remove"
                  value="-" (click)="onImageDelete(i, 'piatra')">
            </div>
         </div>
      </div>
   </div>


   <div class="form-group__components" formGroupName="prelucrare" style="flex-direction: row;">
      <label for="prelucrare" class="form-group__components_heading"><b>Prelucrare</b></label>
      <div class="form-group__component">
         <label for="prelucrare_obs">Observații</label>
         <textarea name="prelucrare_obs" id='prelucrare_obs' cols="40" rows="8" formControlName="obsv"></textarea>
      </div>
      <div class="form-group__component">
         <label for="prelucrare_poze">Imagini</label>
         <input type="file" style="width: 8rem;" onclick="value = null" multiple (change)="onAddImages($event)" value=""
            name="prelucrare_poze" id='prelucrare_poze' formArrayName="poze">
      </div>
      <div class="form-group__components" style="flex-basis: auto; flex-direction: row;" id='prelucrare_poze'
         #prelucrare_poze>
         <div formArrayName="poze" *ngFor="let img of progressForm.get('prelucrare.poze').controls; let i = index">
            <div [formGroupName]="i">
               <input type="hidden" formControlName="downloadUrl">
               <img src="{{img.get('downloadUrl').value }}" height=" 143px" style="padding-right: 0.5rem;">
               <input type="button" class="btn btn-remove" style="padding: 0; height: auto;" name="remove" id="remove"
                  value="-" (click)="onImageDelete(i, 'prelucrare')">
            </div>
         </div>
      </div>
   </div>


   <div class=" form-group__components" formGroupName="photoengraving" style="flex-direction: row;">
      <label for="photoengraving" class="form-group__components_heading"><b>Fotogravare</b></label>
      <div class="form-group__component">
         <label for="photoengraving_obs">Observații</label>
         <textarea name="photoengraving_obs" id='photoengraving_obs' cols="40" rows="8"
            formControlName="obsv"></textarea>
      </div>
      <div class="form-group__component">
         <label for="photoengraving_poze">Imagini</label>
         <input type="file" style="width: 8rem;" onclick="value = null" multiple (change)="onAddImages($event)"
            name="photoengraving_poze" id='photoengraving_poze' formArrayName="poze">
      </div>
      <div class="form-group__components" style="flex-basis: auto; flex-direction: row;" id='photoengraving_poze'
         #photoengraving_poze>
         <div formArrayName="poze" *ngFor="let img of progressForm.get('photoengraving.poze').controls; let i = index">
            <div [formGroupName]="i">
               <input type="hidden" formControlName="downloadUrl">
               <img src="{{img.get('downloadUrl').value }}" height=" 143px" style="padding-right: 0.5rem;">
               <input type="button" class="btn btn-remove" style="padding: 0; height: auto;" name="remove" id="remove"
                  value="-" (click)="onImageDelete(i, 'photoengraving')"></div>
         </div>
      </div>
   </div>


   <div class="form-group__components" formGroupName="engraving" style="flex-direction: row;">
      <label for="engraving" class="form-group__components_heading"><b>Gravare</b></label>
      <div class="form-group__component">
         <label for="engraving_obs">Text (Caractere: {{caractere}})
            <input type="button"
               style="width: auto; padding: 0.2rem; cursor: pointer; border: 1px solid rgb(172, 172, 172);"
               value="Adauga date deuncți" (click)="addData()"></label>
         <textarea name="engraving_obs" id='engraving_obs' cols="40" rows="8" formControlName="obsv"></textarea>
      </div>
      <div class="form-group__component">
         <label for="engraving_poze">Imagini</label>
         <input type="file" onclick="value = null" multiple (change)="onAddImages($event)" style="width: 8rem;" value=""
            name="engraving_poze" id='engraving_poze' formArrayName="poze">
      </div>
      <div class="form-group__components" style="flex-basis: auto; flex-direction: row;" id='engraving_poze'
         #engraving_poze>
         <div formArrayName="poze" *ngFor="let img of progressForm.get('engraving.poze').controls; let i = index">
            <div [formGroupName]="i">
               <input type="hidden" formControlName="downloadUrl">
               <img src="{{img.get('downloadUrl').value }}" height=" 143px" style="padding-right: 0.5rem;">
               <input type="button" class="btn btn-remove" style="padding: 0; height: auto;" name="remove" id="remove"
                  value="-" (click)="onImageDelete(i, 'engraving')"></div>
         </div>
      </div>
   </div>


   <div class="form-group__components" formGroupName="mounting" style="flex-direction: row;">
      <label for="mounting" class="form-group__components_heading"><b>Montare</b></label>
      <div class="form-group__component">
         <label for="mounting_obs">Observații</label>
         <textarea name="mounting_obs" id='mounting_obs' cols="40" rows="8" formControlName="obsv"></textarea>
      </div>
      <div class="form-group__component">
         <label for="mounting_poze">Imagini</label>
         <input type="file" onclick="value = null" multiple (change)="onAddImages($event)" style="width: 8rem;" value=""
            name="mounting_poze" id='mounting_poze' formArrayName="poze">
      </div>
      <div class="form-group__components" style="flex-basis: auto; flex-direction: row;" id='mounting_poze'
         #mounting_poze>
         <div formArrayName="poze" *ngFor="let img of progressForm.get('mounting.poze').controls; let i = index">
            <div [formGroupName]="i">
               <input type="hidden" formControlName="downloadUrl">
               <img src="{{img.get('downloadUrl').value }}" height=" 143px" style="padding-right: 0.5rem;">
               <input type="button" class="btn btn-remove" style="padding: 0; height: auto;" name="remove" id="remove"
                  value="-" (click)="onImageDelete(i, 'mounting')"></div>
         </div>
      </div>
   </div>
</div>