<div class="main__dashboard">
   <h2 class="page-title-h2">Dashboard</h2>
   <div class="dashboard">
      <ul class="dashboard__list">
         <li class="dashboard__list-item">
            <span class="dashboard__list-item--label">Total Vânzări:</span> {{total}}</li>
         <li class="dashboard__list-item">
            <span class="dashboard__list-item--label">Total Cheltuieli:</span> {{expenses}}</li>
         <li class="dashboard__list-item">
            <span class="dashboard__list-item--label">Marja Bruta:</span> {{gross_margin}}</li>
         <li class="dashboard__list-item">
            <span class="dashboard__list-item--label">Marja Bruta %:</span> {{gross_marginP}}</li>
         <li class="dashboard__list-item">
            <span class="dashboard__list-item--label">Comenzi:</span> {{nrOrders}}</li>
         <li class="dashboard__list-item">
            <span class="dashboard__list-item--label">Venit Mediu:</span> {{AvgRevenue}}</li>
         <li class="dashboard__list-item">
            <span class="dashboard__list-item--label">Profit Mediu:</span> {{AvgMargin}}</li>
         <li class="dashboard__list-item">
            <span class="dashboard__list-item--label">Termen mediu de realizare:</span> {{AvgPeriod}}</li>
      </ul>
   </div>
</div>